@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #def2f1;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2f4953;
  font-weight: 600;
  width: 100%;
}

.header {
  background-color: #def2f1;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.calculator {
  background-color: #faffff;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 40px 40px 0 0;
}

.tip-btn-container {
  display: flex;
  flex-direction: column;
}

.tip-btns {
  margin-top: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.tip-btn {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 6rem;
  height: 40px;
  font-size: 1rem;
  font-weight: 700;
  color: #faffff;
  background-color: #3aafa9;
}

.tip-btn:focus {
  background-color: #def2f1;
  color: #3aafa9;
  border: 2px solid #3aafa9;
}

.tip-btns input {
  text-align: center;
  border: 2px solid #def2f1;
  border-radius: 5px;
  max-width: 5.3rem;
  padding: 5px;
  font-size: 1rem;
  font-weight: 700;
}

.bill-input {
  display: flex;
  flex-direction: column;
}