@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #def2f1;
}

h1 {
  font-size: 1.25rem;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2f4953;
  font-weight: 600;
  width: 100%;
  max-width: 100vw;
}

.header {
  background-color: #def2f1;
  padding: 1rem 0;
  text-align: center;
}

.calculator {
  background-color: #faffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 7px 10px 4px rgba(119, 119, 119, 0.2);
-moz-box-shadow: 0px 7px 10px 4px rgba(119, 119, 119, 0.2);
-webkit-box-shadow: 0px 7px 10px 4px rgba(119, 119, 119, 0.2);
}

.tip-btn-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.tip-btn-container h2 {
  font-size: 1rem;
}

.tip-btns {
  margin-top: 0.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;   align-items: center;
  gap: 1rem;
}

.tip-btn {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 6rem;
  height: 40px;
  font-size: 1rem;
  font-weight: 700;
  color: #faffff;
  background-color: #3aafa9;
}

.tip-btn:focus {
  background-color: #def2f1;
  color: #3aafa9;
  border: 2px solid #3aafa9;
}

.tip-btns input {
  text-align: center;
  border: 2px solid #def2f1;
  border-radius: 5px;
  width: 6rem;
  padding: 5px;
  font-size: 1rem;
  font-weight: 700;
}

.tip-btns input:focus {
  border: 2px solid #3aafa9;
  outline: none;
}

.bill-input {
  display: flex;
  justify-content: center;
  max-width: 75vw;
}

.bill-input label {
  margin: 0.25rem 0;
  font-size: 0.75rem;
  font-weight: 700;
}

.bill-input input {
  border: 2px solid #def2f1;
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
  font-weight: 700;
}

.input-section-bill,
.input-section-guest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60%;
}

.input-section-bill input,
.input-section-guest input {
  max-width: 60%;
}

.tip-display {
  background-color: #faffff;
  width: 80%;
  /* margin: 0 2rem; */
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

.tip-amount, .person-tip, .person-total {
  display: flex;
  justify-content:space-between;
  margin: 0.5rem 0;
}

.tip-display h2 {
  font-size: 1.5rem;
}

.tip-display p {
  font-size: 0.75rem;
  color: #686a6b
}

.reset-btn {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 0.5rem;
  width: 100%;
  height: 40px;
  font-size: 1rem;
  font-weight: 700;
  color: #faffff;
  background-color: #3aafa9;
} 

.reset-btn:active {
  background-color: #def2f1;
  color: #3aafa9;
  border: 2px solid #3aafa9;
}
